<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">

  <test name="Test">
  <parameter name="Browser" value="Chrome"></parameter>
    <classes>
      <class name="Commands.Crossbrowser"/>
    </classes>
    </test> <!-- Test -->
    
    <test name="Test 1">
  <parameter name="Browser" value="IE"></parameter>
    <classes>
      <class name="Commands.Crossbrowser"/>
    </classes>
    </test> <!-- Test -->
    
  
</suite> <!-- Suite -->
